<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Recommendations
    //- Include the CSS file
    <link rel="stylesheet" href="public/assets/style.css">
  
  body
    h1 Movie Recommendations
    hr
    h3 #{param.movie_searched}
    table
      // Movie 1 details
      tr(valign="top")
        td
          img.img1(src="https://www.svgrepo.com/show/7849/loading.svg" alt="Image")
        td
          p.mov1
            strong !{param.movie1}
          p.cast1

      // Movie 2 details
      tr(valign="top")
        td
          img.img2(src="https://www.svgrepo.com/show/7849/loading.svg" alt="Image")
        td
          p.mov2
            strong !{param.movie2}
          p.cast2

      // Movie 3 details
      tr(valign="top")
        td
          img.img3(src="https://www.svgrepo.com/show/7849/loading.svg" alt="Image")
        td
          p.mov3
            strong !{param.movie3}
          p.cast3

      // Movie 4 details
      tr(valign="top")
        td
          img.img4(src="https://www.svgrepo.com/show/7849/loading.svg" alt="Image")
        td
          p.mov4
            strong !{param.movie4}
          p.cast4

      // Movie 5 details
      tr(valign="top")
        td
          img.img5(src="https://www.svgrepo.com/show/7849/loading.svg" alt="Image")
        td
          p.mov5
            strong !{param.movie5}
          p.cast5

    //- Include the custom JS file
    <script src="public/assets/custom.js"></script>
